<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image resizer</title>
</head>
<body style="margin: 2%">
<div>
{% include 'core/wrapper.html' %}

<div>
    <h1>Новое изображение</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ add_image_form.as_p }}
        </p>
        <button type="submit">Отправить</button>
    </form>
    <div>
    {% if errors %}
        {% for error in errors %}
            <div>
                {{ error.data }}
            </div>
        {% endfor %}
    {% endif %}
</div>
</div>

</div>
</body>

</html>